{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Parinita Sahu | Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <nav class="navbar">

            <div class="logo">
                Parinita.
            </div>

            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'projects' %}">Projects</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>

        </nav>
    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>© 2026 Parinita Sahu. All rights reserved.</p>
    </footer>

</body>

</html>